//fonts
@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('../fonts/SFUIDisplay-Semibold.otf') format('opentype');
}
@font-face {
  font-family: 'SFUIText-Bold';
  src:  url('../fonts/SFUIText-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'SFUIText-Semibold';
  src:  url('../fonts/SFUIText-Semibold.otf') format('opentype');
}
@font-face {
  font-family: 'SFUIText-Heavy';
  src:  url('../fonts/SFUIText-Heavy.otf') format('opentype');
}
@font-face {
  font-family: 'SFUIText-Regular';
  src:  url('../fonts/SFUIText-Regular.otf') format('opentype');
}


// Open-Sans
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}


// Lato
@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

//Geometria
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria.otf') format('opentype'),
       local('../fonts/Geometria/Geometria.otf');
}
@font-face {
  font-family: 'Geometria-Medium';
  src: url('../fonts/Geometria/Geometria-Medium.otf') format('opentype'),
  local('../fonts/Geometria/Geometria-Medium.otf');
}
@font-face {
  font-family: 'Geometria-Bold';
  src: url('../fonts/Geometria/Geometria-Bold.otf') format('opentype'),
  local('../fonts/Geometria/Geometria-Bold.otf');
}