@import 'fonts';
@import 'variables';

@import "mixins";


html, body{
  height: 100%;
}

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  *:before,
  *:after{
    //display: none;
  }
  p{
    margin: 0;
  }

  .wrapper{
    //width: 1000px;
    //max-width: 1400px;
    //margin: auto;
  }

}

#parallax-parent{
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;

}


#parallax-twin{
  width: 100%;
  height: 100%;
  background: url(../img/back-front.png) 0 0 no-repeat;
  transition: background-position .5s ease-out;
  background-size: 90%;
  //background-size: cover;
  position: absolute;
  animation: zoom-minus 30s linear infinite;
  //z-index: -1;
  top: 0;
  left: 0;
  z-index: 1;
}
#parallax{
  width: 100%;
  height: 100%;
  //background: url(../img/back-back.png) 0 0 no-repeat rgba(56, 88, 255, 1);
  background: url(../img/back-back.png) 0 0 no-repeat $color-blue;
  transition: background-position .5s ease-out;
  background-size: 110%;
  //background-size: cover;
  position: relative;
  animation: zoom-plus 20s linear infinite;
  //z-index: -2;
}

@keyframes zoom-plus {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom-minus {
  0% {
    transform: scale(1.5);
  }
  50%{
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

#parallax-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
}


.main-layout{
  //.container{
  //  max-width: 1170px;
  //  padding: 0 15px;
  //  margin: auto;
  //  text-align: center;
  //  &--flex{
  //    @include flex(space-between);
  //  }
  //}
  @import "components/header";
  @import "components/section";
  @import "components/footer";


}
