@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url("../fonts/SFUIDisplay-Semibold.otf") format("opentype"); }

@font-face {
  font-family: 'SFUIText-Bold';
  src: url("../fonts/SFUIText-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'SFUIText-Semibold';
  src: url("../fonts/SFUIText-Semibold.otf") format("opentype"); }

@font-face {
  font-family: 'SFUIText-Heavy';
  src: url("../fonts/SFUIText-Heavy.otf") format("opentype"); }

@font-face {
  font-family: 'SFUIText-Regular';
  src: url("../fonts/SFUIText-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria.otf") format("opentype"), local("../fonts/Geometria/Geometria.otf"); }

@font-face {
  font-family: 'Geometria-Medium';
  src: url("../fonts/Geometria/Geometria-Medium.otf") format("opentype"), local("../fonts/Geometria/Geometria-Medium.otf"); }

@font-face {
  font-family: 'Geometria-Bold';
  src: url("../fonts/Geometria/Geometria-Bold.otf") format("opentype"), local("../fonts/Geometria/Geometria-Bold.otf"); }

/* ---- variables ---- */
html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; }
  body p {
    margin: 0; }

#parallax-parent {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  position: absolute;
  top: 0;
  left: 0; }

#parallax-twin {
  width: 100%;
  height: 100%;
  background: url(../img/back-front.png) 0 0 no-repeat;
  transition: background-position .5s ease-out;
  background-size: 90%;
  position: absolute;
  animation: zoom-minus 30s linear infinite;
  top: 0;
  left: 0;
  z-index: 1; }

#parallax {
  width: 100%;
  height: 100%;
  background: url(../img/back-back.png) 0 0 no-repeat #1652ff;
  transition: background-position .5s ease-out;
  background-size: 110%;
  position: relative;
  animation: zoom-plus 20s linear infinite; }

@keyframes zoom-plus {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

@keyframes zoom-minus {
  0% {
    transform: scale(1.5); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1.5); } }

#parallax-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px; }

.main-layout .header {
  overflow: hidden;
  min-height: 652px;
  position: relative;
  background-color: rgba(56, 88, 255, 0.4); }
  .main-layout .header-top {
    padding: 37px 37px 0;
    position: relative;
    display: flex;
    z-index: 1; }
    .main-layout .header-top:before {
      content: '';
      background: linear-gradient(to bottom, #1652ff 55%, rgba(22, 82, 255, 0));
      width: 100%;
      height: 109px;
      z-index: -1;
      position: absolute;
      top: 0px;
      left: 0;
      display: block; }
  .main-layout .header .wrapper {
    position: relative; }
  .main-layout .header .logo {
    flex: 1; }
  .main-layout .header .nav {
    flex: 4; }
    .main-layout .header .nav-list__item {
      list-style: none;
      width: 25%;
      display: inline-block; }
    .main-layout .header .nav-link {
      padding: 6px 0;
      color: #92c4ff;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      transition: .2s; }
      .main-layout .header .nav-link:hover {
        transition: .2s; }
      .main-layout .header .nav-link:hover {
        color: #fff; }
      .main-layout .header .nav-link:active, .main-layout .header .nav-link:focus {
        outline: none; }
  .main-layout .header-main {
    padding: 0 160px; }
  .main-layout .header .preview {
    color: #fff;
    top: 214px;
    max-width: 50%;
    position: absolute; }
    .main-layout .header .preview-title {
      font-size: 70px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.41;
      border-bottom: 6px solid #fff;
      display: inline; }
    .main-layout .header .preview-info {
      font-size: 30px;
      font-weight: 300;
      margin-top: 80px;
      margin-left: 132px;
      line-height: normal; }
      .main-layout .header .preview-info p {
        margin: 0;
        font-weight: 300; }
        .main-layout .header .preview-info p.bold {
          font-weight: 900; }

.main-layout .section {
  padding: 87px 64px 0;
  display: flex; }
  .main-layout .section__sidebar {
    flex: 1; }
    .main-layout .section__sidebar h3 {
      margin: 0; }
  .main-layout .section__content {
    flex: 4;
    padding-right: 10%; }
  .main-layout .section .block {
    flex: 1;
    padding: 15px;
    box-sizing: border-box; }
    .main-layout .section .block:first-child {
      padding-left: 0; }
    .main-layout .section .block:last-child {
      padding-right: 0; }
    .main-layout .section .block-area {
      display: flex; }
    .main-layout .section .block-content {
      margin-bottom: 30px;
      box-sizing: border-box;
      transition: .2s;
      position: relative; }
      .main-layout .section .block-content:hover {
        transition: .2s; }
      .main-layout .section .block-content__info {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.76; }
        .main-layout .section .block-content__info-title {
          font-weight: 900;
          margin-bottom: 10px; }
        .main-layout .section .block-content__info-text {
          color: #707070; }
  .main-layout .section--directions .block:nth-child(2) {
    margin-top: 133px; }
  .main-layout .section--directions .block:nth-child(3) {
    margin-top: 78px; }
  .main-layout .section--directions .block-content {
    background: #e4f7ff;
    height: 518px;
    padding: 48px 36px; }
    .main-layout .section--directions .block-content:hover {
      cursor: default;
      background: #1652ff;
      color: #fff; }
      .main-layout .section--directions .block-content:hover .block-content__info-text {
        color: #fff; }
      .main-layout .section--directions .block-content:hover .block-content__img svg path {
        stroke: #fff !important; }
    .main-layout .section--directions .block-content__img {
      text-align: center; }
      .main-layout .section--directions .block-content__img img {
        margin: auto;
        display: inline-block; }
    .main-layout .section--directions .block-content__info {
      position: absolute;
      bottom: 48px;
      padding-right: 36px; }
  .main-layout .section--technologies .title {
    font-size: 36px;
    font-weight: 300;
    color: #242424;
    max-width: 50%;
    margin-bottom: 117px; }
  .main-layout .section--technologies .block-content__info-title {
    font-weight: 800;
    margin-bottom: 40px;
    line-height: normal; }
  .main-layout .section--technologies .block-content__info-text ul {
    padding-left: 0; }
    .main-layout .section--technologies .block-content__info-text ul li {
      list-style: none; }
  .main-layout .section--contacts {
    border-top: 1px solid #ddd;
    height: 450px;
    box-sizing: border-box;
    padding-top: 0;
    padding-right: 0;
    position: relative;
    overflow: hidden; }
    .main-layout .section--contacts .section__sidebar {
      padding-top: 130px;
      flex: 1; }
    .main-layout .section--contacts .section__map {
      flex: 1;
      position: relative;
      flex-basis: 0;
      transition: .2s; }
      .main-layout .section--contacts .section__map:hover {
        transition: .2s; }
      .main-layout .section--contacts .section__map .map {
        background: lightgoldenrodyellow;
        height: 100%;
        overflow: hidden;
        position: relative; }
        .main-layout .section--contacts .section__map .map .place {
          width: 40px;
          height: 40px;
          position: relative;
          position: absolute;
          top: 50%;
          right: 42%; }
          .main-layout .section--contacts .section__map .map .place img {
            position: relative;
            height: 100%;
            width: 100%; }
        .main-layout .section--contacts .section__map .map img {
          transform: scale(1);
          position: absolute;
          right: -20%;
          top: -50%; }
        .main-layout .section--contacts .section__map .map-button {
          width: 73px;
          height: 73px;
          background: #1652ff;
          position: absolute;
          left: -18px;
          color: #fff;
          top: 50%;
          transform: translate(0, -50%);
          display: flex;
          align-items: center;
          justify-content: center; }
      .main-layout .section--contacts .section__map.is-open {
        flex-basis: 42%; }
        .main-layout .section--contacts .section__map.is-open .map-button img {
          transform: rotate(-180deg); }
    .main-layout .section--contacts .section__content {
      padding-top: 130px;
      padding-right: 60px;
      flex: 3; }
    .main-layout .section--contacts .block-info {
      display: flex;
      margin-bottom: 60px; }
      .main-layout .section--contacts .block-info__label {
        flex: 1;
        font-weight: 600;
        font-size: 18px; }
      .main-layout .section--contacts .block-info__text {
        flex: 3;
        font-weight: 300;
        font-size: 36px;
        color: #242424;
        margin-top: -12px; }
  .main-layout .section--form {
    background-color: rgba(56, 88, 255, 0.4);
    position: relative;
    min-height: 395px;
    padding: 104px 164px 60px;
    box-sizing: border-box;
    display: block; }
    .main-layout .section--form:before, .main-layout .section--form:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block; }
    .main-layout .section--form:before {
      background: url(../../img/back-back.png) no-repeat center center;
      background-size: cover;
      z-index: -1; }
    .main-layout .section--form:after {
      background: url(../../img/back-front.png) no-repeat center center #1652ff;
      background-size: cover;
      z-index: -2; }
    .main-layout .section--form .title {
      font-size: 36px;
      font-weight: 900;
      color: #fff;
      max-width: 70%;
      margin-bottom: 60px; }
    .main-layout .section--form .form {
      margin-left: 124px; }
      .main-layout .section--form .form input {
        line-height: 50px;
        background: none; }
        .main-layout .section--form .form input:active, .main-layout .section--form .form input:focus {
          outline: none; }
      .main-layout .section--form .form-field {
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff; }
        .main-layout .section--form .form-field::placeholder {
          color: rgba(255, 255, 255, 0.8); }
      .main-layout .section--form .form-button {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        border: none;
        border-bottom: 3px solid skyblue;
        margin-left: 20px;
        padding: 0;
        transition: .2s;
        cursor: pointer; }
        .main-layout .section--form .form-button:hover {
          transition: .2s; }
        .main-layout .section--form .form-button:hover {
          color: skyblue; }

.main-layout .footer {
  padding: 63px 290px; }
  .main-layout .footer-info {
    font-size: 36px;
    font-weight: 300;
    max-width: 70%; }
