svg(width='234', height='203', viewBox='0 0 234 203', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(d='M112.732 1H5.12061V202H112.732V1Z', stroke='black', stroke-miterlimit='10')
  path(d='M30.0488 151.236C31.4223 151.236 39.5258 160.085 39.5258 160.085L57.793 127.774L74 139.848L88.2155 115.769', stroke='black', stroke-miterlimit='10')
  path(d='M113.347 145.442C115.458 145.442 128.195 159.253 128.195 159.253L156.87 108.927L182.344 127.656L204.685 90.1311', stroke='black', stroke-miterlimit='10')
  path(d='M29.1562 56.4978H55.527', stroke='black', stroke-miterlimit='10')
  path(d='M29.1562 69.1206H63.4931', stroke='black', stroke-miterlimit='10')
  path(d='M29.1562 81.8115H55.527', stroke='black', stroke-miterlimit='10')
  path(d='M29.1562 94.5029H75.5797', stroke='black', stroke-miterlimit='10')
  path(d='M4.65332 107.412H112.433', stroke='black', stroke-miterlimit='10')
  path(d='M29.1562 42.2976H88.4217', stroke='black', stroke-miterlimit='10')
  path(d='M4.65332 28.2852H112.433', stroke='black', stroke-miterlimit='10')
  path(d='M4.65332 171.986H112.433', stroke='black', stroke-miterlimit='10')
  path(d='M50.1016 14.9258H71.1844', stroke='black', stroke-miterlimit='10')
  path(d='M39.526 17.9443C41.1948 17.9443 42.5477 16.5929 42.5477 14.9259C42.5477 13.2589 41.1948 11.9075 39.526 11.9075C37.8572 11.9075 36.5044 13.2589 36.5044 14.9259C36.5044 16.5929 37.8572 17.9443 39.526 17.9443Z', stroke='black', stroke-miterlimit='10')
  path(d='M5.56693 41.0181H1V66.4841H5.56693', stroke='black', stroke-miterlimit='10')
  path(d='M233 189.975L233 36.3091L112.89 36.3091L112.89 189.975L233 189.975Z', stroke='black', stroke-miterlimit='10')
  path(d='M112.433 171.986H204.685L204.685 54.6606L112.433 54.6606', stroke='black', stroke-miterlimit='10')
  path(d='M219.039 120.022C222.946 120.022 226.113 116.859 226.113 112.956C226.113 109.054 222.946 105.89 219.039 105.89C215.133 105.89 211.966 109.054 211.966 112.956C211.966 116.859 215.133 120.022 219.039 120.022Z', stroke='black', stroke-miterlimit='10')
  path(d='M205.098 35.5748V32.4192H172.341V35.5748', stroke='black', stroke-miterlimit='10')
  path(d='M65.9651 180.871H52.3677V194.454H65.9651V180.871Z', stroke='black', stroke-miterlimit='10')
