svg(xmlns='http://www.w3.org/2000/svg', width='221', height='162', fill='none', viewBox='0 0 221 162')
  path(fill='none', d='M0 .497h220.357v161.164H0z')
  path(fill='none', d='M0 .497h220.357v161.164H0z')
  path(stroke='#000', stroke-miterlimit='10', d='M220.357.497H.497v149.289h219.86V.497z')
  path(stroke='#000', d='M79.587.497v149.226')
  path(stroke='#000', d='M0-.5h150.003', transform='matrix(-.00663 .99482 -.99484 0 144.749 .497)')
  path(stroke='#000', d='M0 74.718h219.859M79.443 114.192h64.515')
  path(stroke='#000', stroke-miterlimit='10', d='M177.406 65.764c11.989 0 21.709-9.699 21.709-21.663s-9.72-21.662-21.709-21.662c-11.989 0-21.709 9.698-21.709 21.662 0 11.964 9.72 21.663 21.709 21.663z')
  path(stroke='#000', stroke-miterlimit='10', d='M195.408 33.006L176.876 44.1l19.167 11.149M88.719 57.046c1.059 0 7.413 7.397 7.413 7.397l14.295-26.946 12.708 10.039 11.119-20.078M22.568 65.811v-7.53M34.029 65.811V46.984M45.488 65.811V41.337M56.948 65.811V46.984M68.408 65.811v-33.08M172.085 124.663v-4.326M179.105 131.125v-10.788M186.194 120.443v-18.906M193.283 120.444v-14.527M165.149 120.444v-12.818M158.686 126.852v-6.409M151.598 130.324v-9.881M200.832 120.443V87.865M85.807 92.182c2.647-1.057 4.87-3.012 7.412 2.113 2.648 5.284 5.295 7.926 8.472.529 3.177-7.397 4.765-14.266 9.001-4.227s5.824 7.925 9.001 3.17c3.177-4.755 4.236-4.755 5.295-4.755 1.059 0 4.236 6.868 6.883 6.868h3.707M35.77 124.148c6.142 0 11.12-4.968 11.12-11.096s-4.978-11.095-11.12-11.095c-6.14 0-11.118 4.967-11.118 11.095 0 6.128 4.978 11.096 11.119 11.096zM91.631 141.679c0-10.937 8.895-19.814 19.855-19.814a19.82 19.82 0 0 1 15.461 7.397M63.304 117.543c1.9 0 3.441-1.537 3.441-3.434a3.437 3.437 0 0 0-3.441-3.434 3.438 3.438 0 0 0-3.442 3.434 3.438 3.438 0 0 0 3.442 3.434zM54.832 98.522a5.025 5.025 0 0 0 5.03-5.02 5.025 5.025 0 0 0-5.03-5.018 5.025 5.025 0 0 0-5.03 5.019 5.025 5.025 0 0 0 5.03 5.02z')
  path(stroke='#000', stroke-miterlimit='10', d='M28.359 128.11c3.947 0 7.148-3.193 7.148-7.133 0-3.939-3.2-7.132-7.148-7.132-3.948 0-7.148 3.193-7.148 7.132 0 3.94 3.2 7.133 7.148 7.133zM25.976 97.994a4.76 4.76 0 0 0 4.765-4.755 4.76 4.76 0 0 0-4.765-4.755 4.76 4.76 0 0 0-4.765 4.755 4.76 4.76 0 0 0 4.765 4.755zM109.315 149.362v12.299M84.324 161.503h49.93')
