svg(width='194', height='199', viewBox='0 0 194 199', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(d='M182 1H12V28.2994H182V1Z', stroke='black', stroke-miterlimit='10')
  path(d='M182 43.8992H12V71.1985H182V43.8992Z', stroke='black', stroke-miterlimit='10')
  path(d='M171.035 28.2993H22.9658V43.899H171.035V28.2993Z', stroke='black', stroke-miterlimit='10')
  path(d='M182 86.7007H12V114H182V86.7007Z', stroke='black', stroke-miterlimit='10')
  path(d='M171.035 71.101H22.9658V86.7006H171.035V71.101Z', stroke='black', stroke-miterlimit='10')
  path(d='M94 113.988V151', stroke='black', stroke-miterlimit='10')
  path(d='M54.5435 139.155V178.644', stroke='black', stroke-miterlimit='10')
  path(d='M140.475 139.155V178.644', stroke='black', stroke-miterlimit='10')
  path(d='M12 151V128H182V151', stroke='black', stroke-miterlimit='10')
  path(d='M11.9067 172.506C17.9303 172.506 22.8134 167.62 22.8134 161.594C22.8134 155.567 17.9303 150.681 11.9067 150.681C5.88309 150.681 1 155.567 1 161.594C1 167.62 5.88309 172.506 11.9067 172.506Z', stroke='black', stroke-miterlimit='10')
  path(d='M181.907 172.506C187.93 172.506 192.813 167.62 192.813 161.594C192.813 155.567 187.93 150.681 181.907 150.681C175.883 150.681 171 155.567 171 161.594C171 167.62 175.883 172.506 181.907 172.506Z', stroke='black', stroke-miterlimit='10')
  path(d='M93.477 172.506C99.5006 172.506 104.384 167.62 104.384 161.594C104.384 155.567 99.5006 150.681 93.477 150.681C87.4534 150.681 82.5703 155.567 82.5703 161.594C82.5703 167.62 87.4534 172.506 93.477 172.506Z', stroke='black', stroke-miterlimit='10')
  path(d='M65.45 177.962H45V198.423H65.45V177.962Z', stroke='black', stroke-miterlimit='10')
  path(d='M151.45 177.962H131V198.423H151.45V177.962Z', stroke='black', stroke-miterlimit='10')
