svg(width='226', height='227', viewBox='0 0 226 227', fill='none', xmlns='http://www.w3.org/2000/svg')
  //defs
    filter#f1(x='0', y='0', width='200%', height='200%')
      feoffset(result='offOut', in='SourceGraphic', dx='20', dy='20')
      fegaussianblur(result='blurOut', in='offOut', stddeviation='10')
      feblend(in='SourceGraphic', in2='blurOut', mode='normal')

  path(d='M112.852 145.04L85.8535 129.64V98.8408L112.852 114.241V145.04Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M113.148 145.04L140.147 129.64V98.8408L113.148 114.241V145.04Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M86.1504 98.5448L112.852 81.9604L140.148 99.1371', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M112.852 225L85.8535 209.6V178.801L112.852 194.201V225Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M113.148 225L140.147 209.6V178.801L113.148 194.201V225Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M86.1504 178.505L112.852 161.92L140.148 179.097', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M112.852 65.0796L85.8535 49.6798V18.8804L112.852 34.2801V65.0796Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M113.148 65.0796L140.147 49.6798V18.8804L113.148 34.2801V65.0796Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M86.1504 18.5843L112.852 2L140.148 19.1766', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M197.706 193.608L170.707 178.209V147.409L197.706 162.809V193.608Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M198.002 193.608L225.001 178.209V147.409L198.002 162.809V193.608Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M171.004 147.113L197.706 130.529L225.001 147.705', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M197.706 97.064L170.707 81.6642V50.8647L197.706 66.2645V97.064Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M198.002 97.064L225.001 81.6642V50.8647L198.002 66.2645V97.064Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M171.004 50.5687L197.706 33.9844L225.001 51.161', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M27.9987 193.608L1 178.209V147.409L27.9987 162.809V193.608Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M28.2949 193.608L55.2936 178.209V147.409L28.2949 162.809V193.608Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M1.29688 147.113L27.9989 130.529L55.2942 147.705', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M27.9987 97.064L1 81.6642V50.8647L27.9987 66.2645V97.064Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M28.2949 97.064L55.2936 81.6642V50.8647L28.2949 66.2645V97.064Z', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M1.29688 50.5687L27.9989 33.9844L55.2942 51.161', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M53.8105 51.7531L85.8529 33.0957', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M55.293 81.3677L85.5552 98.8405', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M55.293 177.912L85.5552 194.496', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M27.998 97.6562V130.529', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M172.782 52.049L139.85 33.3916', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M53.8105 148.298L85.8529 129.64', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M172.782 148.593L139.85 129.936', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M170.409 81.6641L140.146 98.8407', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M170.409 178.208L140.146 194.793', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M197.705 97.9521V130.825', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path(d='M112.852 65.376V81.6642', stroke='#000', stroke-width='1', stroke-miterlimit='10')
  path.st(d='M112.852 145.04V162.217', stroke='#000', stroke-width='1', stroke-miterlimit='10')