.header{
  overflow: hidden;
  //background: $color-blue;
  min-height: 652px;
  //padding: 37px;
  position: relative;
  background-color: rgba(56, 88, 255, 0.4);

  
  //&:before,
  //&:after{
  //  content: '';
  //  width: 100%;
  //  height: 100%;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  display: block;
  //  //opacity: .6;
  //
  //}
  //&:before{
  //  background: url(../../img/back-back.png) no-repeat center center ;
  //  background-size: cover;
  //  z-index: -1;
  //
  //
  //}
  //&:after{
  //  background: url(../../img/back-front.png) no-repeat center center $color-blue;
  //  background-size: cover;
  //  z-index: -2;
  //}



  &-top{
    padding: 37px 37px 0;
    position: relative;
    display: flex;
    z-index: 1;
    &:before{
      content: '';
      background: linear-gradient(to bottom, #1652ff 55%, rgba(22, 82, 255, 0));
      width: 100%;
      height: 109px;
      z-index: -1;
      position: absolute;
      top: 0px;
      left: 0;
      display: block;
    }
  }

  .wrapper{
    //padding: 37px;
    //padding-top: 0;
    position: relative;
  }


  .logo{
    flex:1;
  }

  .nav{
    flex:4;

    &-list{


      &__item{
        list-style: none;
        width: 25%;
        display: inline-block;

      }

    }

    &-link{
      padding: 6px 0;
      color: #92c4ff;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      @include transition;
      &:hover{
        color: #fff;
      }
      &:active,
      &:focus{
        outline: none;
      }


      //&--active{
      //  color: #fff;
      //}
    }

  }

  &-main{
    padding: 0 160px;

  }

  .preview{
    color: #fff;
    //margin-top: 114px;
    top: 214px;

    max-width: 50%;
    //max-width: 70%;
    position: absolute;
    &-title{
      font-size: 70px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.41;
      border-bottom: 6px solid #fff;
      display: inline;
      //max-width: 164px;



    }
    &-info{
      font-size: 30px;
      font-weight: 300;
      margin-top: 80px;
      margin-left: 132px;
      line-height: normal;
      p{
        margin: 0;
        font-weight: 300;
        &.bold{
          font-weight: 900;
        }
      }
    }
  }

}