.section {
  padding: 87px 64px 0;
  display: flex;

  &__sidebar {
    flex: 1;
    h3 {
      margin: 0;
    }
  }
  &__content {
    flex: 4;
    padding-right: 10%;
  }

  .block {
    flex: 1;
    padding: 15px;
    box-sizing: border-box;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

    &-area {
      display: flex;
    }

    &-content {
      margin-bottom: 30px;
      box-sizing: border-box;
      @include transition;
      position: relative;

      &__info {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.76;
        //margin-top: 50px;

        &-title {
          font-weight: 900;
          margin-bottom: 10px;
        }
        &-text {
          color: #707070;
        }
      }
    }
  }

  &-wrapper {

  }


  &--directions {
    .block {
      &:nth-child(2) {
        margin-top: 133px;
      }
      &:nth-child(3) {
        margin-top: 78px;
      }
      &-area {
      }
      &-content {
        background: $color-sky;
        height: 518px;
        padding: 48px 36px;

        &:hover {
          cursor: default;
          background: $color-blue;
          color: #fff;
          .block-content__info-text {
            color: #fff;
          }
          .block-content__img svg {

            path{
              stroke: #fff!important;
            }

          }

        }

        &__img {
          text-align: center;
          img {
            //width: 100%;
            margin: auto;
            display: inline-block;
          }
        }

        &__info {
          position: absolute;
          bottom: 48px;
          padding-right: 36px;
        }

      }

    }
  }

  &--technologies {

    .title {
      font-size: 36px;
      font-weight: 300;
      color: #242424;
      max-width: 50%;
      margin-bottom: 117px;
    }

    .block {

      &-area {
      }
      &-content {
        &__info {

          &-title {
            font-weight: 800;
            margin-bottom: 40px;
            line-height: normal;
          }
          &-text {

            ul {
              padding-left: 0;
              li {
                list-style: none;
              }
            }
          }

        }

      }

    }

  }


  &--contacts{
    border-top: 1px solid #ddd;
    height: 450px;
    box-sizing: border-box;
    //padding-top: 130px;
    padding-top: 0;
    padding-right: 0;
    position: relative;
    overflow: hidden;

    .section__sidebar{
      padding-top: 130px;
      flex: 1;
    }
    .section__map{
      flex: 1;
      position: relative;
      flex-basis: 0;

      @include transition;
        .map{
          background: lightgoldenrodyellow;
          height: 100%;
          overflow: hidden;
          position: relative;
          .place{
            width: 40px;
            height: 40px;
            position: relative;
            position: absolute;
            top: 50%;
            right: 42%;

            img{
              position: relative;
              height: 100%;
              width: 100%;
            }
          }
          img{
            transform: scale(1);
            position: absolute;
            //left: -70%;
            right: -20%;
            top: -50%;
          }

          &-button{
            width: 73px;
            height: 73px;
            background: $color-blue;
            position: absolute;
            left: -18px;
            color: #fff;
            top: 50%;
            transform: translate(0, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
          }

        }

      &.is-open{
        flex-basis: 42%;
        .map-button img{
          transform: rotate(-180deg);
        }
      }
    }
    .section__content{
      padding-top: 130px;
      padding-right: 60px;
      flex: 3;
      //display: flex;
      .content{

        // абсолютное поз карта

        //&-area{}
        //&-map{
        //  position: absolute;
        //  top:0;
        //  right: 0;
        //  width: 50%;
        //  height: 100%;
        //  background: green;
        //  right: -35%;
        //
        //  .map{
        //    background: lightgoldenrodyellow;
        //    height: 100%;
        //    overflow: hidden;
        //    img{
        //      height: auto;
        //      width: 100%;
        //      transform: scale(1.6);
        //    }
        //
        //    &-button{
        //      width: 73px;
        //      height: 73px;
        //      background: $color-blue;
        //      position: absolute;
        //      left: -18px;
        //      color: #fff;
        //      top: 50%;
        //      transform: translate(0, -50%);
        //      display: flex;
        //      align-items: center;
        //      justify-content: center;
        //    }
        //
        //  }
        //}

      }
    }

    .block{
      &-info{
        display: flex;
        margin-bottom: 60px;
        &__label{
          flex: 1;
          font-weight: 600;
          font-size: 18px;
        }
        &__text{
          flex: 3;
          font-weight: 300;
          font-size: 36px;
          color: #242424;
          margin-top: -12px;

        }
      }

    }

  }



  &--form {
    background-color: rgba(56, 88, 255, 0.4);
    position: relative;
    min-height: 395px;
    padding: 104px 164px 60px;
    box-sizing: border-box;
    display: block;


    &:before,
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      //opacity: .6;

    }
    &:before{
      background: url(../../img/back-back.png) no-repeat center center ;
      background-size: cover;
      z-index: -1;


    }
    &:after{
      background: url(../../img/back-front.png) no-repeat center center $color-blue;
      background-size: cover;
      z-index: -2;
    }




    .title{
      font-size: 36px;
      font-weight: 900;
      color: #fff;
      max-width: 70%;
      margin-bottom: 60px;
    }

    .form{
      margin-left: 124px;

      input{
        line-height: 50px;
        //border: none;
        background: none;
        &:active,
        &:focus{
          outline: none;
        }
      }


      &-field{
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        //@include placeholder(#fff);
        @include placeholder(rgba(255,255,255,.8));
      }
      &-button{
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        border: none;
        //border-bottom: 3px solid $color-sky;
        border-bottom: 3px solid skyblue;
        margin-left: 20px;
        padding: 0;
        @include transition;
        cursor: pointer;
        &:hover{
          color: skyblue;
        }
      }

    }

  }



}

