extends layout/main-layout

block body

  block header
    //#parallax-parent
    //  //#parallax-twin
    //  #parallax
    //    #parallax-title 123
    header.header
      #parallax-parent
        #parallax-twin
        #parallax
          //#parallax-title 123
      .wrapper
        .header-top
          .logo
            a(href="/")
              img(src="../img/logo-projectae.svg")
          nav.nav
            ul.nav-list
              li.nav-list__item
                a.nav-link(href="#directions") Directions
              li.nav-list__item
                a.nav-link(href="#technologies") Technologies
              li.nav-list__item
                a.nav-link(href="#contacts") Contacts
        .header-main
          .preview
            h1.preview-title On the edge of technologies.
            .preview-info
              p.bold PPROJECTS
              p Software development
              p and maintenance

  block content
    section.section.section--directions#directions
      .section__sidebar
        h3 Directions
      .section__content
        .block-area

          .block
            .block-content
              .block-content__img
                include blocks/svg-icon-development
                //img(src='../img/icon-development.svg')
              .block-content__info
                .block-content__info-title Development
                .block-content__info-text Custom software development and it services outsourcing

            .block-content
              .block-content__img
                include blocks/svg-icon-consulting
                //img(src='../img/icon-consulting.svg')
              .block-content__info
                .block-content__info-title Consulting
                .block-content__info-text The creation of industry-specific it solutions, it-Consulting

          .block
            .block-content
              .block-content__img
                include blocks/svg-icon-blockchain
                //img(src='../img/icon-blockchain.svg')
              .block-content__info
                .block-content__info-title Blockchain
                .block-content__info-text Blockchain development

            .block-content
              .block-content__img
                include blocks/svg-icon-mobile
                //img(src='../img/icon-mobile.svg')
              .block-content__info
                .block-content__info-title Mobile
                .block-content__info-text Mobile application development

          .block
            .block-content
              .block-content__img
                include blocks/svg-icon-big-data
                //img(src='../img/icon-big-data.svg')
              .block-content__info
                .block-content__info-title Big Data
                .block-content__info-text Big Data

            .block-content
              .block-content__img
                include blocks/svg-icon-consulting
                //img(src='../img/icon-corp-sys.svg')
              .block-content__info
                .block-content__info-title Corporate systems
                .block-content__info-text Development and implementation of corporate systems management (BI, CPM, MDM)


    section.section.section--technologies#technologies
      .section__sidebar
        h3 Technologies
      .section__content
        p.title In our work we use the most modern project management and team integration technologies
        .block-area
          .block
            .block-content
              .block-content__info
                .block-content__info-title Languages<br> programmings
                .block-content__info-text
                  ul
                    li php7.x
                    li С#
                    li js
                    li Python

          .block
            .block-content
              .block-content__info
                .block-content__info-title Data <br>base
                .block-content__info-text
                  ul
                    li postgresql
                    li mysql
                    li mssql
                    li mongo

          .block
            .block-content
              .block-content__info
                .block-content__info-title Blockchain<br> development
                .block-content__info-text
                  ul
                    li Etherium
                    li Solidity
                    li Openzepplin

          .block
            .block-content
              .block-content__info
                .block-content__info-title Mobile <br>development
                .block-content__info-text
                  ul
                    li Objective-C
                    li Swift
                    li Java

    section.section.section--contacts#contacts
      .section__sidebar
        h3 Contacts
      .section__content

        .content-area
          .block-info
            .block-info__label Address:
            .block-info__text Lithuania, Kęstučio g. 1-8<br>LT-08118 Vilnius

          .block-info
            .block-info__label Phone:
            .block-info__text  +370 687 11650

      .section__map
        .map
          img(src="../img/map2.png")
          //.place
          //  img(src="../img/icon-place.svg")
        .map-button
          img(src="../img/arrow.svg")
        //.content-map
        //  .map
        //    img(src="../img/map.png")
        //  .map-button
        //    img(src="../img/arrow.svg")

    section.section.section--form
      .title Leave a request for the calculation of the project. It's free
      form.form
        input.form-field(type='text' placeholder='Phone or e-mail')
        input.form-button(type='submit' value='Reach')



  block footer
    footer.footer
      .footer-info Modern technologies for solving complex problems



append scripts
  // анимация при прокрутке
  //script new WOW().init();
  //script(src = 'js/script.js')


