doctype html

html(lang='ru', class = page)
  head
    meta(charset = 'utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //meta(name="viewport" content="width=1366, initial-scale=1")
    title Title
    block styles
      //for scss
      link(href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet")
      link(rel='stylesheet' href='/css/all.css')
      link(rel="stylesheet" href="/assets/animate.css")
      //link(rel="stylesheet" href="/assets/wow-animation/animate.min.css")

  body.main-layout
    block body
      block header
      block toolbar
      block content
      block footer
      block modal


    block scripts
      script(src='/js/jquery-3.2.1.min.js')
      //script(src='/assets/bootstrap-3/js/bootstrap.js')

      //script(src="/assets/wow-animation/wow.min.js")
      script(src = '/js/script.js')

